* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  text-align: center;
  background-color: #848484;
}

#container {
  display: block;
  text-align: center;
  background-color: white;
  max-width: 80rem;
  margin: 0 auto;
  height:100vh;
}

header {
  font-size: 3rem;
  color: white;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(2, 65, 79, 0.5), rgb(2, 65, 79, 0.8)),
    url("./images/fuel-pumps.jpg");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
}

#header-indent {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 1rem;
  position: absolute;
  bottom: 0;
  border-radius: 1rem 1rem 0rem 0rem;
}

#instructions {
  font-size: 1.6rem;
  padding: 1rem;
  color: #202834;
}

#post-code-input {
  width: 80vw;
  height: 4rem;
  border-radius: 40px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  border-color: #02414f;
  border-width: 2px;
  border-style: solid;
  max-width: 20rem;
  color: #202834;
}

#post-code-input:focus {
  outline: 2px solid orange;
}

#button-container {
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  background-color: white;
}

.buttons {
  font-weight: 600;
  width: 16rem;
  height: 4rem;
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-style: solid;
}

.buttons:focus {
  outline: 2px solid orange;
}

#unleaded {
  background-color: rgb(21, 110, 7);
  color: rgb(255, 255, 255);
  border-color: rgb(21, 110, 7);
}

#super-unleaded {
  background-color: white;
  color: green;
  border-color: green;
}

#diesel {
  background-color: black;
  color: white;
  border-color: black;
}

#premium-diesel {
  background-color: black;
  color: white;
  border-color: black;
}

#sort-by-distance {
  color: white;
  background-color: #02414f;
  border-color: #02414f;
}

#sort-by-price {
  color: white;
  background-color: #02414f;
  border-color: #02414f;
}

#station-results {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 4px #848484);
  background-color: rgb(255, 255, 255);
}

#station {
  max-width: 80rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.station-list {
  width: 90vw;
  max-width: 60rem;
  background-color: rgb(255, 255, 255);
  height: 10rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  filter: drop-shadow(5px 5px 4px #848484);
}

.station-logo {
  width: 10rem;
  max-width: 10rem;
  background-color: #02414f;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px 0px 0px 10px;
}

#station-town {
  color: white;
  width: 10rem;
  font-size: 1rem;
}

#station-details {
  width: 60rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

#station-address {
  height: 8rem;
}

#miles-from {
  font-size: 0.8remem;
  text-align: left;
  padding: 0rem;
  margin-top: 1vh;
  color: rgb(81, 81, 81);
  vertical-align: bottom;
}

h1 {
  display: inline-block;
  margin-bottom: 0.2rem;
  font-size: 80%;
  max-width: 80%;
}

h2 {
  text-align: left;
  font-size: 1.2rem;
  color: #202834;
}

#fuel-price-container {
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 5rem;
  height: 3rem;
}

#fuel-price {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  background-color: #02414f;
  border-radius: 10px;
  padding: 0.5rem;
}
